[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
protobuf = "~=5.27.2"
requests = "~=2.32.3"
proto-plus = "~=1.22"
"betterproto[compiler]" = "~=1.2"
more-itertools = "~=10.2"

[requires]
python_version = "3.13"
