@import 'ui/styles/base';
@import 'ui/styles/app-loading';
@import 'ui/styles/tippy';

/* Disable spin button for number input */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
.tabular-nums {
  font-variant-numeric: tabular-nums;
}
.text-blue-500 {
  color: #3b82f6;
}
.text-purple-500 {
  color: #8b5cf6;
}
.text-yellow-500 {
  color: #f59e0b;
}
.input-group-text {
  background-color: #f3f4f6;
}
