name: build-eicoops
on:
  push:
    paths-ignore:
      - '.github/**'
      - 'update-egg-config-gist/**'
      - 'wasmegg/**'
      - 'events/**'
  pull_request_target:
  workflow_dispatch:
 #schedule:
    # Regenerate every day to incorporate updated mission outcome data.
    # Scheduled after https://github.com/ei-labo/cold-api/blob/f46659b12592200621a2f27adb031e9ed0b87cbf/.github/workflows/build.yml#L5-L6.
    # - cron: '30 4 * * *'
jobs:
  # No TS type checking for faster deployment.
  eicoop2-fastbuild:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: eicoop2
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'yarn'
          cache-dependency-path: |
            yarn.lock
            yarn-global/yarn.lock
      - name: Do other preparations
        run: |
          ../action-scripts/prepare
      - name: Build lib
        working-directory: lib
        run: |
          make init
          make
      - name: Build site
        run: make fastbuild
      - name: Install netlify cli
        run: |
          mkdir -p "$(yarn global dir)"
          cp ../yarn-global/* "$(yarn global dir)"
          yarn global add netlify-cli
      - name: Deploy
        run: |
          netlify deploy --prod
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_EICOOP2_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        if: github.ref == 'refs/heads/main'
      - name: Deploy to branch-specific URL
        run: |
          netlify deploy --alias "${GITHUB_REF##*/}"
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_EICOOP2_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        if: github.ref != 'refs/heads/main'
      - name: Deploy to commit-specific URL
        run: |
          netlify deploy --alias "$GITHUB_SHA"
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_EICOOP2_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}

  # With TS type checking.
  eicoop2-fullbuild:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: eicoop2
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'yarn'
      - name: Do other preparations
        run: |
          ../action-scripts/prepare
      - name: Build lib
        working-directory: lib
        run: |
          make init
          make
      - name: Build site
        run: make


  # No TS type checking for faster deployment.
  eicoop-fastbuild:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: eicoop
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'yarn'
          cache-dependency-path: |
            yarn.lock
            yarn-global/yarn.lock
      - name: Do other preparations
        run: |
          ../action-scripts/prepare
      - name: Build lib
        working-directory: lib
        run: |
          make init
          make
      - name: Build site
        run: make fastbuild
      - name: Install netlify cli
        run: |
          mkdir -p "$(yarn global dir)"
          cp ../yarn-global/* "$(yarn global dir)"
          yarn global add netlify-cli
      - name: Deploy
        run: |
          netlify deploy --prod
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_EICOOP_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        if: github.ref == 'refs/heads/main'
      - name: Deploy to commit-specific URL
        run: |
          netlify deploy --alias "$GITHUB_SHA"
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_EICOOP_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
      - name: Deploy to branch-specific URL
        run: |
          netlify deploy --alias "${GITHUB_REF##*/}"
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_EICOOP_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        if: github.ref != 'refs/heads/main'

  # With TS type checking.
  eicoop-fullbuild:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: eicoop
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'yarn'
      - name: Do other preparations
        run: |
          ../action-scripts/prepare
      - name: Build lib
        working-directory: lib
        run: |
          make init
          make
      - name: Build site
        run: make
