name: build-eicoops
on:
  push:
    paths: 
      - "lib/**"
      - "ui/**"
      - "eicoop/**"
      - "periodicals/*"
      - 'protobuf/ei.proto'
  pull_request:
    types: [ opened, edited, reopened]
    paths: 
      - "lib/**"
      - "ui/**"
      - "eicoop/**"
      - "periodicals/*"
  workflow_dispatch:
 #schedule:
    # Regenerate every day to incorporate updated mission outcome data.
    # Scheduled after https://github.com/ei-labo/cold-api/blob/f46659b12592200621a2f27adb031e9ed0b87cbf/.github/workflows/build.yml#L5-L6.
    # - cron: '30 4 * * *'
jobs:
  # No TS type checking for faster deployment.
  eicoop-fastbuild:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: eicoop
    steps:
      - uses: actions/checkout@v3
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: "^8.6.10"
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'pnpm'
          cache-dependency-path: |
            pnpm-lock.yaml
            pnpm-global/pnpm-lock.yaml.lock
      - name: Do other preparations
        run: |
          ../action-scripts/prepare
      - name: Build lib
        working-directory: lib
        run: |
          make init
          make
      - name: Build site
        run: make fastbuild
      - name: Install netlify cli
        run: |
          echo $GITHUB_WORKSPACE/pnpm-global >> $GITHUB_PATH
          pnpm add --global netlify-cli
      - name: Deploy to commit-specific URL
        run: |
          netlify deploy --alias "$GITHUB_SHA"
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_EICOOP_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
      - name: Deploy
        run: |
          netlify deploy --prod
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_EICOOP_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        if: github.ref == 'refs/heads/main'
      - name: Deploy to branch-specific URL
        run: |
          netlify deploy --alias "${GITHUB_REF##*/}"
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_EICOOP_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        if: github.ref != 'refs/heads/main'

  # With TS type checking.
  eicoop-fullbuild:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: eicoop
    steps:
      - uses: actions/checkout@v3
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: "^8.1.1"
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'pnpm'
          cache-dependency-path: |
            pnpm-lock.yaml
            pnpm-global/pnpm-lock.yaml.lock
      - name: Do other preparations
        run: |
          ../action-scripts/prepare
      - name: Build lib
        working-directory: lib
        run: |
          make init
          make
      - name: Build site
        run: make
