name: build-eicoops
on:
  push:
    paths:
      - pnpm-lock.yaml
      - 'lib/**'
      - 'ui/**'
      - 'eicoop/**'
      - 'periodicals/data/*'
      - '!periodicals/data/events.json'
      - 'protobuf/ei.proto'
  pull_request:
    types: [opened, edited, reopened]
    paths:
      - 'lib/**'
      - 'ui/**'
      - 'eicoop/**'
      - 'periodicals/*'
  workflow_dispatch:
  #schedule:
  # Regenerate every day to incorporate updated mission outcome data.
  # - cron: '30 4 * * *'
jobs:
  # No TS type checking for faster deployment.
  eicoop-fastbuild:
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]' && github.event_name != 'pull_request'
    defaults:
      run:
        working-directory: eicoop
    steps:
      - uses: actions/checkout@v5
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Set up Node
        uses: actions/setup-node@v5
        with:
          node-version: '22'
          cache: 'pnpm'
          cache-dependency-path: |
            pnpm-lock.yaml
            pnpm-global/pnpm-lock.yaml
      - name: Do other preparations
        run: |
          ../action-scripts/prepare
      - name: Build lib
        working-directory: lib
        run: |
          make init
          make
      - name: Build site
        run: make fastbuild
      - name: Install netlify cli
        run: |
          echo $GITHUB_WORKSPACE/pnpm-global >> $GITHUB_PATH
          pnpm add --global netlify-cli
      - name: Deploy
        run: |
          netlify deploy --prod -d $GITHUB_WORKSPACE/eicoop/dist
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_EICOOP_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        if: github.ref == 'refs/heads/main'
      - name: Deploy to branch-specific URL
        run: |
          netlify deploy --alias "${GITHUB_REF##*/}" -d $GITHUB_WORKSPACE/eicoop/dist
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_EICOOP_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        if: github.ref != 'refs/heads/main'
      - name: Deploy to commit-specific URL
        run: |
          netlify deploy --alias "$GITHUB_SHA" -d $GITHUB_WORKSPACE/eicoop/dist
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_EICOOP_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}

  # With TS type checking.
  eicoop-fullbuild:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: eicoop
    steps:
      - uses: actions/checkout@v5
      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Set up Node
        uses: actions/setup-node@v5
        with:
          node-version: '22'
          cache: 'pnpm'
          cache-dependency-path: |
            pnpm-lock.yaml
            pnpm-global/pnpm-lock.yaml
      - name: Do other preparations
        run: |
          ../action-scripts/prepare
      - name: Build lib
        working-directory: lib
        run: |
          make init
          make
      - name: Build site
        run: make
