name: update-events-and-contracts
on:
  push:
    paths:
      - 'periodicals/*'
      - '.github/**'
  pull_request_target:
  workflow_dispatch:
  #schedule:
    # replaced with cloudflare worker triggering this
    #
    # - cron: '0 15-18,23 * * *'
jobs:
  update:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: periodicals
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
          cache: 'pip'
      - name: Pip stuff
        run: |
          pip install -r requirements.txt
      - name: Update events and contracts
        run: |
          python ./updatePeriodicals.py events contracts
        env:
          EI_USERID: ${{ secrets.EI_USERID }}
      - name: Commit, push changes, and possibly trigger new build
        run: |
          git config user.name 'github-actions'
          git config user.email 'actions@github.com'
          git add data/events.json
          git diff --cached --quiet || {
            git commit -m 'events: update data/events.json (from GitHub Actions)'
            git push
            # Use a separate personal access token since the token included doesn't seem to trigger
            # anything, although the response (HTTP 204) looks all right.
            curl -fsS -D- \
              -X POST \
              -H 'Authorization: Bearer ${{ secrets.WORKFLOW_DISPATCH_TOKEN }}' \
              -H 'Accept: application/vnd.github.v3+json' \
              https://api.github.com/repos/${{ github.repository }}/actions/workflows/build-wasmegg.yml/dispatches \
              -d '{"ref": "'${GITHUB_REF##*/}'"}'
            }
          git add data/contracts.json
          git diff --cached --quiet || {
            git commit -m 'contracts: update data/contracts.json (from GitHub Actions)'
            git push
            # Use a separate personal access token since the token included doesn't seem to trigger
            # anything, although the response (HTTP 204) looks all right.
            curl -fsS -D- \
              -X POST \
              -H 'Authorization: Bearer ${{ secrets.WORKFLOW_DISPATCH_TOKEN }}' \
              -H 'Accept: application/vnd.github.v3+json' \
              https://api.github.com/repos/${{ github.repository }}/actions/workflows/build-eicoops.yml/dispatches \
              -d '{"ref": "'${GITHUB_REF##*/}'"}'
            }
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
