name: update-events-and-contracts
on:
  push:
    paths:
      - 'periodicals/*'
      - '.github/**'
  workflow_dispatch:
  #schedule:
  # replaced with cloudflare worker triggering this
  #
  # - cron: '0 15-18,23 * * *'
jobs:
  update:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: periodicals
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.WORKFLOW_DISPATCH_TOKEN }}
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '>=3.13'
      - name: Install uv
        id: install-uv
        uses: astral-sh/setup-uv@v5
        with:
          version: '0.5.24'
          enable-cache: true
          cache-suffix: 'periodicals'
      - name: Install dependencies
        run: |
          uv sync
      - name: Update events and contracts
        run: |
          uv run ./updatePeriodicals.py events contracts customeggs contractseasons
          git diff HEAD -- data
        env:
          EI_USERID: ${{ secrets.EI_USERID }}
      - name: Commit, push changes, and possibly trigger new build
        run: |
          git config user.name 'github-actions'
          git config user.email 'actions@github.com'

          git add data/events.json
          git diff --cached --quiet || git commit -m 'events: update data/events.json (from GitHub Actions)'

          git add data/contracts.json
          git diff --cached --quiet || git commit -m 'contracts: update data/contracts.json (from GitHub Actions)'

          git add data/seasoncontracts.json
          git diff --cached --quiet || git commit -m 'contracts: update data/seasoncontracts.json (from GitHub Actions)'

          git add data/customeggs.json
          git diff --cached --quiet || git commit -m 'custom eggs: update data/customeggs.json (from GitHub Actions)'

          git add data/contractseasons.json
          git diff --cached --quiet || git commit -m 'custom eggs: update data/contractseasons.json (from GitHub Actions)'

          git push
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_DISPATCH_TOKEN }}
