name: update-loot-data
on:
  workflow_dispatch:
  schedule:
    - cron: '0 14 * * *'
jobs:
  update:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: wasmegg/artifact-explorer
    steps:
      - uses: actions/checkout@v5
      - name: Update Loot Data
        run: |
          make data
      - name: Commit, push changes, and possibly trigger new build
        run: |
          git config user.name 'github-actions'
          git config user.email 'actions@github.com'
          git add src/lib/loot.json
          git diff --cached --quiet || {
            git commit -m 'artifact-explorer: update loot data (from GitHub Actions)'
            git push
            # Use a separate personal access token since the token included doesn't seem to trigger
            # anything, although the response (HTTP 204) looks all right.
            curl -fsS -D- \
              -X POST \
              -H 'Authorization: Bearer ${{ secrets.WORKFLOW_DISPATCH_TOKEN }}' \
              -H 'Accept: application/vnd.github.v3+json' \
              https://api.github.com/repos/${{ github.repository }}/actions/workflows/build-wasmegg.yml/dispatches \
              -d '{"ref": "'${GITHUB_REF##*/}'"}'
            }
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
